$primary: #00d2bf;
$secondary: #106c61;
$accent: #181818;

$dark: #202020;
$dark-page: #181818;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$tooltip-background: #080808 !default;
