$primary   : #00D2BF;
$secondary : #106c61;
$accent    : #181818;

$dark      : #202020;
$dark-page : #181818;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$tooltip-background: #080808 !default;