@import 'quasar.variables.scss';
@import 'scrollbar.scss';

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Dosis;
    src: url('./fonts/Dosis-ExtraBold.ttf');
    font-weight: 800;
}

* {
    font-family: Dosis !important;
    user-select: none;
}

.text-h5 {
    padding-bottom: 6px;
}

.bg-darker {
    background: #171918;
}

.bg-dark-page {
    background: #1a1c1b;
}

.q-tab__indicator {
    color: var(--q-color-primary);
}

// Checkbox fix
.checkbox svg {
    color: #000;
}

// Input fix
.input input {
    color: #fff !important;
}

// Select fix
.select span {
    color: #fff !important;
}

// Tooltip fix
.q-slider__pin-text {
    color: #fff;
}

// https://medium.com/cloud-native-the-gathering/how-to-fix-your-angular-material-input-field-from-being-broken-in-safari-1419b12007ee
input {
    -webkit-user-select: text !important;
}

.selectable {
    user-select: text !important;
    cursor: text;
}

.clickable {
    cursor: pointer;
}

.monospace {
    font-family: monospace !important;
}

.dotted-underline { 
    border-bottom: 1px dotted;
}
.dotted-underline:hover { 
    border-bottom: 1px dotted white;    
}