$primary   : #00D2BF;
$secondary : #106c61;
$accent    : #171918;

$dark      : #242626;
$dark-page : #1a1c1b;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$tooltip-background : #030303 !default;

@import '~quasar-variables-styl'
