::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #10101044;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #363636;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #404040;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #36363690;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #404040;
}